%color-primary, %text-color-primary {
  color: #3F51B5
}
%color-primary-bg {
  //background-color: #8AC542;
  background-color: #3F51B5;
}

%color-action-bg {
  background-color: #FF4081;
}

%text-color-light {
  color: white;
}

%text-color-medium {
  color: #969696;
}

%text-color-action {
  color: #FF4081;
}

body .card-field,
body .card-title,
html .card-field,
html .card-title {
  display: block;
  -webkit-margin-before: 12px;
  -webkit-margin-after: 12px;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.md-whiteframe-z3 {
  overflow: hidden;
}

.panel, .panel-heading {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: none;
}

.panel-default > .panel-heading {
  border: none;
  font-size: 48px;
  font-weight: bold;
  @extend %color-primary-bg;
  @extend %text-color-light;
}

.panel-heading {
  padding: 6px 12px;
}

.panel-body {
  .card-title {
    margin-bottom: 1px;
    font-weight: 400;
    @extend %text-color-primary;
  }
  .card-field {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 500;
    @extend %text-color-medium;
    .card-field-label {
      position: relative;
      width: 48px;
      font-size: 12px;
      float: left;
      line-height: 20px;
    }
  }
}

md-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  border-top: 1px solid lightgray;
}

.primary {
  @extend %text-color-action;
}

.panel-heading {
  position: relative;
  .md-fab {
    position: absolute;
    right: 24px;
    bottom: -20px;
    @extend %color-action-bg;
    div {
      position: relative;
      i {
        font-size: 20px;
        position: absolute;
        top: 5px;
        left: 6px;
      }
    }
  }
}

md-input-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow-x: hidden;
  padding: 2px 2px 4px;
}

.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 0;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
#contactSection {
  position: relative;
  width: 620px;
  margin: 0 auto;
}

#editContactModalSection {
  .panel {
    margin-bottom: 0;
  }
}

.md-select-menu-container {
  z-index: 2000;
}

md-select {
  display: inline-block;
  width: 108px;
  margin-top: 23px;
  margin-left: 12px;
}
md-select:not([disabled]):focus .md-select-label {
  border-bottom: 2px solid;
  padding-bottom: 12px;
}
.md-select-label {
  padding-bottom: 13px;
}
#editContactModalFooter {
  position: relative;
  height: 48px;
  padding: 4px;
  text-align: right;
  //border-top: 1px solid #e5e5e5;
  background-color: rgba(0, 0, 0, 0.12);
  overflow: hidden;
  .md-button {
    min-width: 100px;
  }
  .md-warn {
    position: absolute;
    top: 8px;
    left: 8px;
  }
  .md-primary {
    position: absolute;
    top: 8px;
    right: 8px;
  }
}

md-dialog {
  width: 50%;
  min-width: 320px;
  max-width: 640px;
}

#addNewPhone {
  .md-raised {
    margin-left: 20px;
    height: 40px;
    margin-top: 18px;
  }
}