.panel-body .card-title, #launchPadSection .notification-icon-trigger .fa-stack-1x,
#launchPadModalSection .notification-icon-trigger .fa-stack-1x {
  color: #3F51B5; }

.panel-default > .panel-heading {
  background-color: #3F51B5; }

.panel-heading .md-fab {
  background-color: #FF4081; }

.grey-bg, #launchPadSection,
#launchPadModalSection, .app-container, body {
  background-color: #e2e2e2 !important; }

.panel-default > .panel-heading {
  color: white; }

.panel-body .card-field, #launchPadSection .md-subheader .md-subheader-inner,
#launchPadModalSection .md-subheader .md-subheader-inner {
  color: #969696; }

.primary, .items-slip .md-close, .items-slip .md-sort {
  color: #FF4081; }

.md-select-menu-container.md-active {
  border: 1px solid #FF4081; }

.white-bg {
  background-color: white !important; }

.red-bg {
  background-color: red !important; }

.btn {
  opacity: 0; }

label {
  display: inline-block;
  max-width: 100%;
  margin-top: 12px;
  margin-bottom: -6px;
  font-weight: bold; }

.solar-card {
  background-color: #fff !important;
  margin-bottom: 6px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.14), 0 2px 2px 0 rgba(0, 0, 0, 0.098), 0 1px 5px 0 rgba(0, 0, 0, 0.084); }

.md-avatar {
  float: left; }

.md-toolbar-tools,
.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.26); }

#notificationInfo #notificationTitle {
  width: 40%; }
#notificationInfo md-input-container {
  margin-right: 12px; }

.md-button {
  min-width: 40px; }

.md-close {
  font-size: 16px; }

md-backdrop.md-opaque.md-default-theme {
  background-color: rgba(0, 0, 0, 0.8) !important; }

md-select-menu:not(.md-overflow) md-content {
  padding-top: 0;
  padding-bottom: 0; }

md-select-menu.md-default-theme md-option:focus:not([selected]) {
  background-color: white !important; }

md-select-menu.md-default-theme md-option:hover:not([selected]) {
  background-color: #e8eaf6 !important; }

md-list-item, md-list-item .md-list-item-inner {
  display: block; }

md-divider.md-default-theme {
  position: relative; }

body .card-field,
body .card-title,
html .card-field,
html .card-title {
  display: block;
  -webkit-margin-before: 12px;
  -webkit-margin-after: 12px;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0; }

ul {
  padding: 0;
  margin: 0;
  list-style-type: none; }

#contactSection {
  position: relative;
  width: 50%;
  margin: 0 auto; }

.panel, .panel-heading {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: none; }

.panel-default > .panel-heading {
  border: none;
  font-size: 48px;
  font-weight: bold; }

.panel-heading {
  padding: 6px 12px; }

.panel-body .card-title {
  margin-bottom: 1px;
  font-weight: 400; }
.panel-body .card-field {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 500; }
  .panel-body .card-field .card-field-label {
    position: relative;
    width: 48px;
    font-size: 12px;
    float: left;
    line-height: 20px; }

md-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  border-top: 1px solid lightgray; }

.panel-heading {
  position: relative; }
  .panel-heading .md-fab {
    position: absolute;
    right: 24px;
    bottom: -20px; }
    .panel-heading .md-fab div {
      position: relative; }
      .panel-heading .md-fab div i {
        font-size: 20px;
        position: absolute;
        top: 10px;
        left: 6px; }

#editContactModalSection md-list {
  padding: 0; }
#editContactModalSection .panel {
  margin-bottom: 0; }
  #editContactModalSection .panel .panel-body {
    padding-left: 6px;
    padding-right: 6px; }

.md-select-menu-container {
  z-index: 2000; }

#editContactModalFooter {
  position: relative;
  height: 48px;
  padding: 4px;
  text-align: right;
  background-color: rgba(0, 0, 0, 0.12); }
  #editContactModalFooter .md-button {
    min-width: 100px; }
  #editContactModalFooter .md-warn {
    position: absolute;
    top: 8px;
    left: 8px; }
  #editContactModalFooter .md-primary {
    position: absolute;
    top: 8px;
    right: 8px; }

md-dialog {
  width: 95%;
  min-height: 95%; }

.scroll-container {
  overflow: auto;
  -webkit-overflow-scrolling: touch; }

.items-section {
  position: relative; }

.add-alert {
  position: absolute;
  padding: 24px 12px 12px 12px;
  top: 24px;
  left: 20%;
  right: 20%;
  border: 2px solid red;
  z-index: 2000; }
  .add-alert .md-raised {
    margin-top: 18px; }

.fade-disabled {
  opacity: .25;
  pointer-events: none; }

.items-slip {
  position: relative; }
  .items-slip md-input-container {
    width: 40%; }
  .items-slip md-select {
    width: 40%;
    margin-left: 5%; }
  .items-slip .md-close, .items-slip .md-sort {
    width: 40px;
    height: 40px;
    margin-top: 30px;
    margin-left: 0;
    margin-right: 0;
    padding: 6px;
    text-align: center; }

.phone-list:first-child {
  border-top: 4px solid lightgray;
  border-bottom: 4px solid lightgray; }

#reorder .group:after {
  content: "";
  display: table;
  clear: both; }
#reorder ul {
  max-width: 200px;
  list-style: none;
  margin: 20px auto; }
#reorder li {
  background-color: white;
  padding: 10px;
  margin: 5px 0;
  border-radius: 2px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none; }
  #reorder li img {
    display: block;
    float: left; }
#reorder .handle {
  float: right; }
  #reorder .handle:after {
    content: "\2261";
    font-size: 35px;
    line-height: 50px;
    color: gray; }
#reorder .slip-reordering {
  -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.02);
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.03); }

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s; }

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity: 0;
  max-height: 0; }

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity: 1;
  max-height: 84px; }

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px; }

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 0px;
  border-radius: 0px; }

/* Handle */
::-webkit-scrollbar-thumb {
  height: 30px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: rgba(255, 64, 129, 0.25);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 64, 129, 0.25); }

@media (min-width: 600px) {
  #phoneNumbersSection .md-padding {
    padding: 6px; } }
#parentContentSection {
  background-color: transparent; }

#launchPadSection,
#launchPadModalSection {
  background-color: transparent;
  margin: 0 auto; }
  #launchPadSection md-list-item,
  #launchPadModalSection md-list-item {
    position: relative;
    width: 100%;
    height: 84px;
    margin-bottom: 6px;
    padding: 12px;
    background-color: white;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; }
    #launchPadSection md-list-item .md-avatar,
    #launchPadModalSection md-list-item .md-avatar {
      position: relative;
      width: 64px;
      height: 64px;
      background-color: darkgrey;
      color: white;
      font-size: 24px;
      text-align: center;
      line-height: 62px;
      float: left;
      margin: 0;
      -webkit-border-radius: 32px;
      -moz-border-radius: 32px;
      border-radius: 32px; }
    #launchPadSection md-list-item .md-list-item-text,
    #launchPadModalSection md-list-item .md-list-item-text {
      position: relative;
      margin-left: 12px;
      margin-top: 12px;
      float: left; }
    #launchPadSection md-list-item #timeSheet,
    #launchPadModalSection md-list-item #timeSheet {
      background-color: red; }
  #launchPadSection .go-to-url,
  #launchPadModalSection .go-to-url {
    position: relative;
    height: 64px;
    width: 80%;
    float: left; }
  #launchPadSection .notification-icon-trigger,
  #launchPadModalSection .notification-icon-trigger {
    position: relative;
    height: 48px;
    width: 20%;
    padding-top: 4px;
    padding-right: 6px;
    float: left; }
    #launchPadSection .notification-icon-trigger .fa-stack,
    #launchPadModalSection .notification-icon-trigger .fa-stack {
      width: 100%;
      line-height: 3em;
      text-align: right; }
    #launchPadSection .notification-icon-trigger .fa-stack-2x,
    #launchPadModalSection .notification-icon-trigger .fa-stack-2x {
      font-size: 56px;
      text-align: right; }
    #launchPadSection .notification-icon-trigger .fa-stack-1x,
    #launchPadModalSection .notification-icon-trigger .fa-stack-1x {
      font-size: 32px;
      text-align: right;
      padding-right: 12px; }
    #launchPadSection .notification-icon-trigger .fa-stack-1x-2,
    #launchPadModalSection .notification-icon-trigger .fa-stack-1x-2 {
      font-size: 24px;
      padding-right: 8px; }
    #launchPadSection .notification-icon-trigger .fa-exclamation-triangle,
    #launchPadModalSection .notification-icon-trigger .fa-exclamation-triangle {
      font-size: 56px; }
  #launchPadSection .notification-icon-trigger:focus,
  #launchPadModalSection .notification-icon-trigger:focus {
    outline-color: white; }
  #launchPadSection .md-actions,
  #launchPadModalSection .md-actions {
    border-top: 2px solid lightgray; }
  #launchPadSection md-card,
  #launchPadModalSection md-card {
    margin: 0;
    margin-bottom: 12px; }
  #launchPadSection md-card-content,
  #launchPadModalSection md-card-content {
    padding: 12px; }
  #launchPadSection .modal-form,
  #launchPadModalSection .modal-form {
    height: 100%;
    overflow: hidden; }
  #launchPadSection .start-date, #launchPadSection .due-date,
  #launchPadModalSection .start-date,
  #launchPadModalSection .due-date {
    width: 50%;
    float: left; }
  #launchPadSection .due-date,
  #launchPadModalSection .due-date {
    text-align: right; }
  #launchPadSection .md-subheader .md-subheader-inner,
  #launchPadModalSection .md-subheader .md-subheader-inner {
    padding: 0 0 12px 0; }
  #launchPadSection #modalHeader .md-toolbar-tools > h4, #launchPadSection #modalHeader .md-toolbar-tools > h2,
  #launchPadModalSection #modalHeader .md-toolbar-tools > h4,
  #launchPadModalSection #modalHeader .md-toolbar-tools > h2 {
    width: 100%;
    text-align: center;
    color: white; }
  #launchPadSection #modalFooter,
  #launchPadModalSection #modalFooter {
    position: absolute;
    width: 100%;
    bottom: 0px;
    padding: 12px; }
    #launchPadSection #modalFooter h4,
    #launchPadModalSection #modalFooter h4 {
      width: 100%;
      text-align: center;
      color: white; }

#launchPadModalSection {
  height: 100%; }

md-dialog md-dialog-content {
  padding: 12px; }

md-content.md-docs-dark-theme {
  background-color: transparent; }

:focus {
  outline-color: white !important; }

#notificationsSection md-list-item .md-list-item-inner > .md-avatar:first-child, #notificationsSection md-list-item > .md-avatar:first-child {
  width: 40px;
  height: 40px;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 16px;
  border-radius: 50%;
  box-sizing: content-box; }
#notificationsSection .md-3-line .solar-card {
  height: 80px;
  text-overflow: ellipsis; }

md-tabs-content-wrapper {
  height: 90% !important; }

md-tab-content {
  overflow-x: hidden; }

md-tabs:not(.md-no-tab-content):not(.md-dynamic-height) {
  min-height: 600px !important; }

md-tab-item {
  width: 50% !important; }

/*# sourceMappingURL=notifications-style.css.map */
