<!-- Launch Pad Landing Page -->
<section id="launchPadSection" class="ng-app">
  <section class="ng-controller">
    <md-tabs md-dynamic-height="false">

      <!-- Launch Pad Landing Page -->
      <md-tab label disabled md-on-select md-on-deselect ng-disabled="criticalMessages.length > 0">
        <md-tab-label>
          <i class="fa fa-rocket"></i>
        </md-tab-label>
        <md-tab-body>
          <md-list>
            <md-list-item ng-repeat="l in launchPad track by $index" class="md-whiteframe-z2 lp-button">
              <a class="go-to-url" href="{{l.url}}" style="color: black !important;">
                <div id="{{l.id}}" class="md-avatar">
                  <i class="{{l.icon}}"></i>
                </div>
                <div class="md-list-item-text">
                  <h4>{{l.title}}</h4>
                </div>
              </a>
              <div class="notification-icon-trigger">
            <span class="fa-stack fa-lg" ng-show="l.id === 'notifications'">
              <i class="fa fa-inverse fa-stack-1x">{{messages.length}}</i>
            </span>
            <span class="fa-stack fa-lg" ng-show="l.id === 'notifications' && criticalMessages.length > 0">
            </span>
              </div>
            </md-list-item>
          </md-list>
        </md-tab-body>
      </md-tab>

      <!-- Notifications Page -->
      <md-tab label disabled md-on-select md-on-deselect ng-disabled="messages.length <= 0">
        <md-tab-label>
          <i class="fa fa-bullhorn"></i>
          <span>{{messages.length}}</span>
        </md-tab-label>
        <md-tab-body>
          <form class="modal-form">
            <md-toolbar id="modalHeader" ng-class="{'md-warn': criticalMessages.length > 0}">
              <div class="md-toolbar-tools">
                <h4 ng-show="criticalMessages.length > 0">YOU HAVE CRITICAL NOTIFICATIONS</h4>
                <h2 ng-show="criticalMessages.length <= 0">YOUR NOTIFICATIONS</h2>
              </div>
            </md-toolbar>
            <md-dialog-content>
              <md-card ng-repeat="m in messages | orderBy:'priorityID'" class="fx-zoom-normal fx-speed-800 fx-trigger fx-easing-quad">
                <md-card-content>
                  <md-subheader class="start-date">Sent: {{m.startDate | date:'MMM d, yyyy'}}</md-subheader>
                  <md-subheader class="due-date">Due: {{m.endDate | date:'MMM d, yyyy'}}</md-subheader>
                  <h2 class="md-title">{{m.title}}</h2>
                  <p>
                    {{m.msg}}
                  </p>
                </md-card-content>
                <div class="md-actions" layout="row" layout-align="end center">
                  <md-button class="md-raised" ng-click="acknowledgeMessage(m)" ng-class="{'md-warn': m.priority == 'critical', 'md-fab md-mini grey-bg': m.priority != 'critical'}">
                    <span ng-show="m.priority == 'critical'">Acknowledge</span>
                  <span ng-hide="m.priority == 'critical'">
                    <i class="fa fa-check"></i>
                  </span>
                  </md-button>
                </div>
              </md-card>
            </md-dialog-content>
          </form>
        </md-tab-body>
      </md-tab>

      <md-tab label disabled md-on-select md-on-deselect ng-disabled="criticalMessages.length > 0">
        <md-tab-label>
          <i class="fa fa-list"></i>
          <span>{{allMessages.length}}</span>
        </md-tab-label>
        <md-tab-body>

          <md-tabs md-selected="selectedIndex">
            <md-tab id="tab1" label disabled md-on-select md-on-deselect">
              <md-tab-label>
                list
              </md-tab-label>
              <md-tab-body>
                <md-list class="listdemoListControls" ng-app="MyApp">
                  <md-list-item class="list-item-all-messages" ng-repeat="msg in allMessages" ng-click="goToMessage(msg, $event)">
                    <img alt="Omnom" ng-src="images/omnom.jpg" class="md-avatar">
                    <p>{{ msg.title }}</p>
                  </md-list-item>
                </md-list>
              </md-tab-body>
            </md-tab>


            <md-tab id="tab2" label disabled md-on-select md-on-deselect">
              <md-tab-label>
                message
              </md-tab-label>
              <md-tab-body>
                {{messageDetail.title}}
              </md-tab-body>
            </md-tab>
          </md-tabs>


        </md-tab-body>
      </md-tab>



    </md-tabs>

  </section>
</section>

